*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(#111344, #52154E);
}

.app{
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    background: #B098A4;
}

.app_header{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    margin: 8px;
}

.header_title{
    display: flex;
    justify-content: center;
    margin: 8px;
}

p{
    padding: 15px;
    font-size: 30px;
}

input{
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 0.9rem;
    flex-direction: column;
    width: 105px;
    height: 45px;
    padding: 2px;
    background: #fff none;
    border: 1px solid #999;
    border-radius: 5px;
    text-align: center;
    margin: 8px;
}

.header_footer{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    display: block;
    margin: 8px;
}

.head_foot_inp{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    display: block;
    margin: 8px;
}

.app_content{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    margin: 8px;
}

.app_container{
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 8px;
}

.app_footer{
    display: flex;
    justify-content: center;
    margin: 8px;
}

button{
    width: 115px;
    background: #230C33;
    font-size: 0.8rem;
    font-weight: normal;
    color: white;
    margin: 4px 10px;
    cursor: pointer;
    padding: 15px 15px;
    text-align: center;
    border-radius: 12px;
    font-family: 'Caveat', cursive;
}
