body {
  margin: 0;
  background-color: #E8D6CB;
}

.header {
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  background: #D0ADA7;
  padding: 25px;
  display: block;
  justify-content: center;

  &--color {
    margin: 0px 55px;
  }

  &--slider {
    margin: 0px 55px;
  }

  &--save {
    width: 15%;
    padding: 10px;
    float: right;
    margin: 0px 55px;
    color: white;
    background: #5a3473;
    border-radius: 8px;
    border: none;
  }
}

.content {
  margin: 0 auto;
  width: 83%;
  height: 625px;

  &--canvas {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
  }
}
