html {
  background-color: #E8D6CB;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1024px;
  height: 768px;
  border: 1px dashed #ccc;
  background-color: #fff;
  box-shadow: 3px 3px 10px #ccc;

  svg {
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}
