$max-img-width: 600px;
$max-img-height: 400px;

.gallery{
  display: flex;
  margin: 10px auto;
  position: relative;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
  }
}
